<%= simple_form_for(profile, multipart: true) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag profile.avatar.url if profile.avatar.present? %>


  <%= f.input :avatar, as: :file, wrapper: :vertical_file_input %>

  <%= f.input :title, placeholder: 'Business name' %>

  <%= f.input :tag_list, label: 'Category', placeholder: 'Enter Category Separate with comma' %>
  

  <%= f.input :content, label: 'Business description' %>

  <h3>references</h3><br>
  
  <%= f.input :url, label: 'Website', placeholder: 'Website' %>

  <%= f.input :facebook, label: 'facebook', placeholder: 'facebook' %>

  <%= f.input :twitter, label: 'twitter', placeholder: 'twitter' %>

  <%= f.input :instagram, label: 'instagram', placeholder: 'instagram' %>

  <%= f.input :location, label: 'location', placeholder: 'location' %>

  <%= f.button :submit %>

<% end %>
