<%= simple_form_for(profile, multipart: true) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !profile.avatar.url.include?("missing") %>
    <%= image_tag profile.avatar.url %>
  <% end %>

  <%= f.input :avatar, as: :file, wrapper: :vertical_file_input %>


  <%= f.input :title, placeholder: 'Business name' %>

  <%= f.input :tag_list, label: 'Category', placeholder: 'Enter Category Separate with comma' %>
  
  <%= f.input :url, label: 'Website', placeholder: 'Website' %>

  <%= f.input :content, label: 'Business description' %>

  <%= f.input :preview, label: 'Business description', placeholder: 'preview' %>

  <%= f.button :submit %>

<% end %>
