<%= simple_form_for(profile, multipart: true) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, placeholder: 'Business name' %>

  <%= f.input :tagline, placeholder: 'Tagline' %>

  <%= f.input :tag_list, label: 'Tags', placeholder: 'Tags' %>

  <%= f.input :industry, placeholder: 'Industry' %>

  <%= f.input :content, label: 'Business description', input_html: { cols: "50", rows: "10" } %>

  <h3>Social links</h3><br>
  
  <%= f.input :url, label: 'Website', placeholder: 'Website' %>

  <%= f.input :facebook, label: 'facebook', placeholder: 'facebook' %>

  <%= f.input :twitter, label: 'twitter', placeholder: 'twitter' %>

  <%= f.input :instagram, label: 'instagram', placeholder: 'instagram' %>

  <%= f.input :location, label: 'location', placeholder: 'location' %>

  <button name="button" type="submit" class="btn btn-danger" style="margin-right: 5px">
    <i class="fa fa-btn fa-cancel"></i> Cancel
  </button>
  <%= button_tag type: 'submit', class: "btn btn-primary"  do %>
    <i class="fa fa-btn fa-user"></i> Update Profile
  <% end %>

<% end %>