<!-- Page Header -->
<!-- Set your background image for this header on the line below.background: url('https://media.glassdoor.com/home/hero.jpg'); -->
<header class="intro-header" style="background-image: url('https://media.glassdoor.com/home/hero.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>AblePursuit</h1>
            
            <%= form_tag profiles_path, :method => 'get', class: 'form-inline' do %>
              <div class="input-group">
                <%= search_field_tag :search, params[:search], type: "text", class: "form-control", size: "60", placeholder: "Business name" %>
                <span class="input-group-btn">
                  <%= submit_tag "", name: nil, class: "btn btn-default" %>
                </span>
              </div>
            <% end %>

          <span class="subheading">Search</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- container -->
<div class="container" id="my-container">
  <h2>Organizations we have provided services to</h2>  
  <div class="row">
    <% @profiles.each do |profile| %>
      <div class="col-md-4">
        <div class="my-box">
          <%= link_to profile do %>
            <%= image_tag profile.avatar.url, class: "img-responsive" %>
          <% end %>
          <div class="cell-body">
            <h4><%= profile.title %></h4>
            <p><%= truncate profile.content, length: 250 %></p>
            <%= link_to profile, class: 'btn btn-default' do %>
              <span>Read more</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
        <%#= image_tag profile.avatar.url(:thumb) %>
        <%#= link_to profile.title, profile.url, target: 'blank' %>
        <%#= raw profile.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
        <%#= profile.impressionist_count %>
        <%#= profile.preview %>
        <%#= link_to 'Show', profile %>
        <%#= link_to 'Edit', edit_profile_path(profile) %>
        <%#= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %>

<%#= link_to 'New Profile', new_profile_path %>
