<!-- Page Header -->
<!-- Set your background image for this header on the line below.background: url('https://media.glassdoor.com/home/hero.jpg'); -->
<header class="intro-header lazyload" style="background-image: url('/images/placeholder/intro.jpg" data-src="/images/intro-min.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Custolive</h1>
            
            <%= form_tag profiles_path, :method => 'get', class: 'form-inline' do %>
              <div class="input-group">
                <%= search_field_tag :search, params[:search], type: "text", class: "form-control", size: "60", placeholder: "Business name" %>
                <span class="input-group-btn">
                  <%= submit_tag "", name: nil, class: "btn btn-default" %>
                </span>
              </div>
            <% end %>
            
          <span class="subheading">search</span>
          
        </div>
      </div>
    </div>
  </div>
</header>

<!-- container -->
<div class="container" id="my-container">
  <h2>
    Custolive is a <i>business to customer</i> solution that features products of 
    businesses & creates conversations about them on social media.
  </h2>  
  <div class="row">
    <% @profiles.each do |profile| %>
      <div class="col-md-4">
        <div class="my-box">
          <%= link_to profile do %>
            <%= image_tag profile.avatar.url, class: "img-responsive shadow" %>
          <% end %>
          <div class="cell-body">
            <h4><%= profile.title %></h4>
            <p><%= profile.tagline %>&nbsp;<%= link_to 'read more', profile %></p>
            <%#= link_to profile, class: 'btn btn-default' do %>
              <!--span>Read more</span-->
            <%# end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- horizantal icons -->
<section id="horizantal-icons">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="horizantal-icons-container">
          <img class="img-responsive hz-icons" src="/images/horizantal-icons/customer-xp.png"/><br/>
          <h2>Customer Experience</h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="horizantal-icons-container">
          <img class="img-responsive hz-icons" src="https://ableoursuit-victorjambo.c9users.io/images/horizantal-icons/data-visualization.png"/><br/>
          <h2>Data Visualization</h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="horizantal-icons-container">
          <img class="img-responsive hz-icons" src="https://ableoursuit-victorjambo.c9users.io/images/horizantal-icons/product-feature.png"/><br/>
          <h2>Product Feature</h2>
        </div>
      </div>
    </div>
  </div>
</section>