<!-- Page Content -->
<div class="container" style="padding-top: 115px;">
  <div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
      
      <article class="full_post post type-post status-publish format-standard has-post-thumbnail hentry category-workspace tag-inspiration tag-workspace">
        <div class="post-header">
          <h1><%= @profile.title %></h1>
          <div class="decorater">
              <div class="line"><span class="dot"></span></div>
          </div>
          <div class="post-meta">
            <div class="meta_date"><span class="posted">Posted on </span><%= @profile.created_at.strftime("%b %d, %Y") %></div>
          </div>
        </div>
        <div class="post-img">
          <%= image_tag @profile.avatar.url, class: "attachment-swanky-full-thumb size-swanky-full-thumb wp-post-image shadow", alt: "profile image", width: "1080", height: "720" %>
          </div>
        <div class="content_post_wrap">
          <div class="post-entry">
            <p><%= @profile.tagline %></p>
      
            <p><%= @profile.content %></p>
            
            <div class="post-tags">
              <h5 class="tags">Tags :</h5>              
              <% @profile.tag_list.map do |t| %>
                <span class="tags_wrap">
                  <%= link_to t, tag_path(t) %>
                  </span>
              <% end %>
            </div>
          </div>
        </div>
        
        <div class="content_metabottom_wrap">
          <div class="meta_bottom">
            <div class="post-share">
              <% if user_signed_in? %>
                <div class="text_share">Edit profile</div>
                <%= link_to edit_profile_path do %>
                  <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        
      </article>
      

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
      
      <!-- Blog Search Well -->
      <div class="well" id="show-search">
        <h5 class="tags">Search</h5>
        <%= form_tag profiles_path, :method => 'get', class: 'form-inline' do %>
          <div class="input-group">
            <%= search_field_tag :search, params[:search], type: "text", class: "form-control", size: "100%", placeholder: "Company name" %>
            <span class="input-group-btn">
              <%= submit_tag "", class: "btn btn-default" %>
            </span>
          </div>
        <% end %>
      </div>

      <!-- Blog Categories Well -->
      <div class="well">
        <h5 class="tags">Social Links</h5>
        <ul class="socials">
            <li style="<%= "display: none;" unless @profile.facebook.present? %>">
                <a href="https://www.facebook.com/<%= @profile.facebook %>">
                  <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li style="<%= "display: none;" unless @profile.twitter.present? %>">
                <a href="https://www.twitter.com/<%= @profile.twitter %>">
                  <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li style="<%= "display: none;" unless @profile.url.present? %>">
                <a href="<%= @profile.url %>"> <i class="fa fa-link"></i> </a>
            </li>
            <li style="<%= "display: none;" unless @profile.instagram.present? %>">
                <a href="https://www.instagram.com/<%= @profile.instagram %>">
                  <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li style="<%= "display: none;" unless @profile.location.present? %>">
                <a href="#" data-toggle="tooltip", data-placement="bottom" title="<%= @profile.location %>">
                  <i class="fa fa-location-arrow"></i>
                </a>
            </li>
        </ul>
      </div>

      <% unless @similar_profiles.empty? %>
        <div class="well">
          <h5 class="tags">Similar organizations</h5>
          <div class="similar-profiles">
            <% @similar_profiles.map do |similar_profile| %>
              <%= link_to similar_profile.title, similar_profile %>,
            <% end %>
          </div>
        </div>
      <% end %>
      
      <div class="well">
        <div class="post-tags" style="margin-top: 0px;">
          <h5 class="tags">Browse by category</h5>          
          <% ActsAsTaggableOn::Tag.most_used(5).each do |tagging| %>
            <span class="tags_wrap">
              <%= link_to tagging, tag_path(tagging.name) %>
            </span>
          <% end %>          
        </div>
      </div>
      
    </div>

  </div>
  <!-- /.row -->
</div>
<!-- /.container 
