<!-- Page Content -->
<div class="container" style="padding-top: 70px;">
  <div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
      <!-- Title -->
      <h1 style="font-size: 55px;"><%= @profile.title %></h1>

      <!-- Tags -->
      <p class="lead">
        <% @profile.tag_list.map do |t| %>
          <span class="label label-primary"><%= link_to t, tag_path(t), style: "color: white;" %></span>
        <% end %>
      </p>

      <hr>

      <!-- Date/Time -->
      <div class="row">
        <div class="col-md-6">
          <p><span class="glyphicon glyphicon-time"></span> Posted on <%= @profile.created_at.strftime("%b %d, %Y") %></p>
        </div>

        <div class="col-md-6 text-right">
          <p>
            <% if user_signed_in? %>
              <%= link_to edit_profile_path do %>
                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
              <% end %>
            <% end -%>
          </p>
        </div>
      </div>

      <hr>

      <%= image_tag @profile.avatar.url, class: "img-responsive show-image shadow", alt: "profile image" %>

      <hr>

      <!-- Post Content -->
      
      <p><%= @profile.content %></p>

      <hr>
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
      
      <!-- Blog Search Well -->
      <div class="well" id="show-search">
        <h4>Search</h4>
        <%= form_tag profiles_path, :method => 'get', class: 'form-inline' do %>
          <div class="input-group">
            <%= search_field_tag :search, params[:search], type: "text", class: "form-control", size: "100%", placeholder: "Company name" %>
            <span class="input-group-btn">
              <%= submit_tag "", class: "btn btn-default" %>
            </span>
          </div>
        <% end %>
      </div>

      <!-- Blog Categories Well -->
      <div class="well">
        <h4>References</h4>
        <ul class="list-unstyled">
          <li style="<%= "display: none;" if @profile.url.empty? %>">
            Website: 
            <a href="<%= @profile.url %>">
              <%= @profile.url %>              
            </a>
          </li>
          <li style="<%= "display: none;" if @profile.facebook.empty? %>">
            facebook: 
            <a href="https://www.facebook.com/<%= @profile.facebook %>" target="blank" >
              <%= @profile.facebook %>
            </a>
          </li>
          <li style="<%= "display: none;" if @profile.twitter.empty? %>">
            twitter: 
            <a href="https://www.twitter.com/<%= @profile.twitter %>" target="blank" >
              <%= "@#{@profile.twitter}" %>              
            </a>
          </li>  
          <li style="<%= "display: none;" if @profile.instagram.empty? %>">
            instagram: 
            <a href="https://www.instagram.com/<%= @profile.instagram %>" target="blank" >
              <%= @profile.instagram %>                
            </a>
          </li>
          <li style="<%= "display: none;" if @profile.location.empty? %>">
            Location: <%= @profile.location %>
          </li>
        </ul>
      </div>

      <% unless @similar_profiles.empty? %>
        <div class="well">
          <h4>Similar organizations</h4>
          <div class="similar-profiles">
            <% @similar_profiles.map do |similar_profile| %>
              <%= link_to similar_profile.title, similar_profile %>,
            <% end %>
          </div>
        </div>
      <% end %>
      
      <div class="well">
        <h4>Browse by category</h4>
          <div class="row">
            <div class="col-lg-6">
            <ul class="list-unstyled">
              <% ActsAsTaggableOn::Tag.first(5).each do |tagging| %>
                <li><%= link_to tagging, tag_path(tagging.name) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      
    </div>

  </div>
  <!-- /.row -->
</div>
<!-- /.container 
