<div class="container" style="padding-top: 70px;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Log in</h2>
    </div>

    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <%= f.input :email, placeholder: 'Enter email', autofocus: true %>

        <%= f.input :password, placeholder: 'Password', autocomplete: "off" %>
        
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <%= f.button :button do %>
          Log in
        <% end %>

      <% end %>
    </div>

    <div class="panel-footer">
      <%= render "devise/shared/links" %>
    </div>
    
  </div>
</div>
