<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AblePursuit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            Menu <i class="fa fa-bars"></i>
          </button>
          <%= link_to "AblePursuit", root_path, class: "navbar-brand" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu scrollable-menu">
                <% ActsAsTaggableOn::Tag.all.each do |tagging| %>
                  <li><%= link_to tagging, tag_path(tagging.name) %></li>
                <% end %>
              </ul>
            </li>
            <li><%= link_to 'About', pages_about_path %></li>
            <li><%= link_to 'Contact', pages_contact_path %></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <% if notice %>
      <script>
        alertify.set('notifier','position', 'top-right');
        alertify.notify('<%= notice %>', 'success', 2.5);
      </script>
    <% end %>

    <% if alert %>
    <script>
        alertify.set('notifier','position', 'top-right');
        alertify.notify('<%= alert %>', 'error', 15);
      </script>
    <% end %>

		<%= yield %>

		<!-- The content of your page would go here. -->
    <footer class="footer-distributed" id="footer">
      <div class="footer-left">
        <h3>Able<span>Pursuit</span></h3>
        <p class="footer-links">
          <%= link_to "Home", root_path %>
          ·
          <a href="https://ablepursuit.com">Become a member</a>
          ·
          <%= link_to 'About', pages_about_path %>
          ·
          <%= link_to 'Contact', pages_contact_path %>
        </p>
        <p class="footer-company-name">AblePursuit &copy; 2017</p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p>East Africa</p>
        </div>
        <div>
          <i class="fa fa-phone"></i>
          <p>
            <span>+254 734 530 231</span>
            <span>+254 718 464 940</span>
          </p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:hello@ablepursuit.com">hello@ablepursuit.com</a></p>
        </div>
      </div>

      <div class="footer-right">
        <p class="footer-company-about">
          <span>About the company</span>
          AblePursuit promotes #SDGs and showcases innovative products by businesses and personalities in Africa.
        </p>
        <div class="footer-icons">
          <a href="https://www.facebook.com/ablepursuit" target="blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/ablepursuit" target="blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com/ablepursuit/" target="blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com/company/ablepursuit-ltd." target="blank"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </footer>

    <div id="go-top" style="display: none;">
      <a href="#top">
        <i class="fa fa-caret-up"></i><br>
        Top
      </a>
    </div>
    
  </body>
</html>
